<calendar-md flex layout layout-fill
             calendar-direction="direction"
             on-prev-month="prevMonth"
             on-next-month="nextMonth"
             on-day-click="dayClick"
             title-format="'MMMM y'"
             ng-model='selectedDate'
             week-starts-on="firstDayOfWeek"
             data-start-year="2014"
             tooltips="tooltips"
             day-format="dayFormat"
             day-label-format="'EEE'"
             day-label-tooltip-format="'EEEE'"
             day-tooltip-format="'fullDate'"
             day-content="setDayContent"
             disable-future-selection="false">
</calendar-md>
<md-content>
    <md-list flex="">
        <md-list-item class="md-3-line" ng-repeat="student in students" ng-click="addClazz(student)">
            <div class="md-list-item-text" layout="column">
                <h3>{{ student.name }}</h3>
            </div>
        </md-list-item>
    </md-list>
</md-content>