<div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources"></div>
<form ng-if="data.student" id="form-profile" data-parsley-validate="" ng-submit="salvarAula()">
    <md-content class="md-padding" ng-cloak>
        <div layout="row">
            <md-input-container flex>
                <label>Título</label>
                <input ng-disabled="true" required ng-model="data.title" type="text">
            </md-input-container>
        </div>
        <div class="row">
            <md-input-container>
                <label>Tipo</label>
                <md-select ng-model="data.type">
                    <md-option ng-repeat="tipo in tipos" value="{{ tipo.value }}">
                        {{ tipo.value}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <div class="row">
            <md-input-container>
                <label>Início</label>
                <input mdc-datetime-picker="" date="true" time="true" type="text" id="datetime-inicio"
                       placeholder="Date" min-date="date" ng-model="data.start" class=" md-input">
            </md-input-container>
        </div>
        <div class="row">
            <md-input-container>
                <label>Término</label>
                <input mdc-datetime-picker="" date="true" time="true" type="text" id="datetime-termino"
                       placeholder="Date" min-date="date" ng-model="data.end" class=" md-input">
            </md-input-container>
        </div>
        <md-input-container>
            <div layout="row">
                <md-button type="submit" class="md-raised md-primary" flex="25" flex-sm="25">{{ 'STUDENT_SAVE' | translate }}</md-button>
                <md-button type="button" ng-click="cancelar()" class="md-raised md-primary" flex="25" flex-sm="25">{{ 'STUDENT_CANCEL' | translate }}</md-button>
            </div>
        </md-input-container>
    </md-content>
</form>
<md-content>
    <md-list flex="">
        <md-list-item class="md-3-line" ng-repeat="student in students" ng-click="addClazz(student)">
            <div class="md-list-item-text" layout="column">
                <h3>{{ student.name }}</h3>
                <div class="_md-secondary-container">
                    <button class="md-secondary md-icon-button md-button ng-scope md-ink-ripple" type="button"
                           ng-click="showForm(student)"
                            aria-label="call">
                        <i class="material-icons">class</i>
                    </button>
                </div>
            </div>
        </md-list-item>
    </md-list>
</md-content>