<div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources"></div>
<form ng-if="data.student" id="form-profile" data-parsley-validate="" ng-submit="salvarAula()">
    <md-content class="md-padding" ng-cloak>
        <div layout="row">
            <div flex>
                <md-input-container flex>
                    <label>Título</label>
                    <input ng-disabled="true" required ng-model="data.title" type="text">
                </md-input-container>
            </div>
            <div flex>
            <md-input-container>
                <label>Tipo *</label>
                <md-select required ng-model="data.type">
                    <md-option ng-repeat="tipo in tipos" value="{{ tipo.value }}">
                        {{ tipo.value}}
                    </md-option>
                </md-select>
            </md-input-container>
            </div>
        </div>
        <div layout="row">
            <div flex>
                <label>Data da aula *</label>
                <md-datepicker ng-model="data.date" md-placeholder="Enter date"></md-datepicker>
            </div>
        </div>
        <div layout="row">
            <div flex>
                <md-input-container>
                    <label>Hora de início *</label>
                    <input type="time" ng-model="data.time">
                </md-input-container>
            </div>
 
            <div flex>
            <md-input-container flex>
                <label>Duracao de aula (em minutos) *</label>
                <input required max="240" min="0" placeholder="Duracao em MINUTOS" type="number" ng-model="data.end">
            </md-input-container>
            </div>
        </div>
        <md-input-container>
            <div layout="row">
                <md-button type="button" ng-click="salvarAula()" class="md-raised md-primary" flex="25" flex-sm="25">{{ 'STUDENT_SAVE' | translate }}</md-button>
                <md-button type="button" ng-click="cancelar()" class="md-raised md-primary" flex="25" flex-sm="25">{{ 'STUDENT_CANCEL' | translate }}</md-button>
            </div>
        </md-input-container>
    </md-content>
</form>
<md-content>
    <md-list flex="">
        <md-list-item class="md-3-line" ng-repeat="student in students" ng-click="addClazz(student)">
            <div class="md-list-item-text" layout="column">
                <h3>{{ student.name }}</h3>
                <div class="_md-secondary-container">
                    <button class="md-secondary md-icon-button md-button ng-scope md-ink-ripple" type="button"
                           ng-click="showForm(student)"
                            aria-label="call">
                        <i class="material-icons">class</i>
                    </button>
                </div>
            </div>
        </md-list-item>
    </md-list>
</md-content>