<md-list>
 <md-list-item ng-repeat="i in instructors" ng-click="goToPerson(person.name, $event)">
    <img alt="Img not found" ng-src="asset/svg/student.svg" class="md-avatar" />
    <p>{{ i.name }}</p>
    <md-icon md-svg-icon="communication:messenger" ng-click="doSecondaryAction($event)" aria-label="Open Chat" class="md-secondary md-hue-3" ng-class="{'md-primary': s.newMessage}"></md-icon>
  </md-list-item>
</md-list>

<form id="form-profile" data-parsley-validate="" ng-submit="update()">

</form>
<md-button
        class="md-fab md-warn md-fab-bottom-right"
        style="position: fixed;"
        ng-click="showForm()"
        aria-label="Cadastrar Instrutor">
    <md-icon md-svg-src="asset/svg/plus.svg"></md-icon>
</md-button>