<md-sidenav md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left"
            class="md-whiteframe-z2 md-sidenav-left">
  <md-toolbar md-theme="custom" class="md-hue-1 md-whiteframe-z2">
    <md-button layout="row" layout-align="center center" class="md-toolbar-tools md-warn">
      <h1>SA</h1>
    </md-button>
  </md-toolbar>
      <md-button ng-repeat-start="item in menuItems" layout="column" layout-align="center center"
                 flex class="capitalize"
                 ui-sref-active="md-warn" ui-sref="{{ item.sref }}">
          <div hide-sm hide-md class="md-tile-content">
              <i class="material-icons md-36">
				  {{ item.icon }}
			</i>
          </div>
          <div class="md-tile-content">
              {{ item.name }}
          </div>
      </md-button>
      <md-divider ng-repeat-end></md-divider>
</md-sidenav>

<div layout="column" flex>
    <md-toolbar layout="row" layout-align="end center">
        <md-button class="toolbar-button dropdown" ng-click="myDropdownIsActive=!myDropdownIsActive" ng-class="{active:myDropdownIsActive}" aria-label="language">
            <i class="material-icons">language</i>
            <ul class="dropdown-menu md-whiteframe-z1">
                <li><md-button style="color: #2a6496" ng-click="setLanguage('en')">English</md-button></li>
                <li><md-button style="color: #2a6496" ng-click="setLanguage('pt-br')">Português (Brasil)</md-button></li>
            </ul>
        </md-button>
		<md-button ng-click = "logout()" hide-sm class="toolbar-button" aria-label="exit_to_app">
            <i class="material-icons">exit_to_app</i>
        </md-button>
    </md-toolbar>

    <md-content flex class="md-padding page-content">
        <div ui-view></div>
    </md-content>
</div>