<md-dialog>
    <form id="form-profile" data-parsley-validate="" ng-submit="register()">
        <md-content class="md-padding">
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>Nome completo *</label>
                    <input required ng-model="instructor.name" type="text">
                </md-input-container>
                <md-checkbox ng-model="instructor.status" flex>
                    <label>Professor ativo</label>
                </md-checkbox>
            </div>
            <md-input-container flex>
                <label>{{ 'PROFILE_ADDRESS' | translate }}</label>
                <input ng-model="instructor.address">
            </md-input-container>
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>{{ 'PROFILE_CITY' | translate }}</label>
                    <input ng-model="instructor.city">
                </md-input-container>
                <md-input-container flex>
                    <label>{{ 'PROFILE_STATE' | translate }}</label>
                    <input ng-model="instructor.state">
                </md-input-container>
                <md-input-container flex>
                    <label>{{ 'PROFILE_CEP' | translate }}</label>
                    <input ng-model="instructor.cep">
                </md-input-container>
                <md-input-container flex>
                    <label>{{ 'STUDENT_CPF' | translate }}</label>
                    <input required ng-model="instructor.cpf">
                </md-input-container>
                <md-input-container flex>
                    <label>{{ 'STUDENT_RG' | translate }}</label>
                    <input required ng-model="instructor.rg">
                </md-input-container>
            </div>

            <md-input-container>
                <div layout="row" layout-sm="column">
                    <md-button type="submit" class="md-raised md-primary" flex="25" flex-sm="25">{{ 'PROFILE_SAVE' | translate }}</md-button>
                </div>
            </md-input-container>
        </md-content>
    </form>
</md-dialog>